# ██ [ File-types                 ] ██
*
!*.md

# ██ [ Root Directories           ] ██
World
World_the_end

!Scripts
!Scripts/*

# ██ [ File-types                 ] ██
*.old
*.archive

# ██ [ Executables                ] ██
*.exe
*.sh
*.jar
