# ██ [ Root directories           ] ██
build/*

# ██ [ Untracekd scripts          ] ██
scripts/untracked.dsc

# ██ [ Untracekd script data      ] ██
data/tokens.yml
data/packages.yml

# ██ [ File-types                 ] ██
*.old
*.archive

# ██ [ Executables                ] ██
*.exe
*.jar
